<html>
<head>
	<title>edit form</title>
	</head>
	<body>
    <form th:action="@{'/saveeditproduct/'+${id}}" th:object="${product}" method="post">
	<label for="name">name:</label>
	<input type="text"name="name" th:field="*{name}"><br/><br>
	
	<label for="name">brand:</label>
		<input type="text"name="brand" th:field="*{brand}"><br/><br>
    
	<label for="name">price:</label>
		<input type="text"name="price" th:field="*{price}"><br/><br>
	
    <label for="name">madeIn:</label>
	    <input type="text"name="madein" th:field="*{madeIn}"><br/><br>
			
	<label for="name">quantity</label>:</label>
		<input type="text"name="quantity" th:field="*{quantity}"><br/><br>
		
	<label for="name">discountRate:</label>
		<input type="text"name="discountrate" th:field="*{discountRate}"><br/>	<br>
		
		
	<label for="name">taxprice:</label>
		<input type="text"name="taxrate" th:field="*{taxprice}"></br><br>
		
	<button type="submit">update</button>
		
	</form>
	</body>

</html>